PUBLIC_BASE_URL=https://clash.910501.xyz
ALLOW_REGISTRATION=false
AUTH_COOKIE_SECURE=true
CSRF_SECRET=replace-with-at-least-32-random-characters
AUTH_RATE_LIMIT_WINDOW_SECONDS=900
AUTH_RATE_LIMIT_ACCOUNT_FAILURES=5
AUTH_RATE_LIMIT_IP_FAILURES=20
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-to-a-strong-password
WEB_PORT=8501
API_PORT=8000
RULESET_CACHE_ENABLED=true
RULESET_UPDATE_INTERVAL=604800
RULESET_CACHE_DIR=/app/ruleset/dustinwin
